<div>
	<div class="panel panel-info">
	   <div class="panel-heading">
	      <h3 class="panel-title">{{computer.cid}}</h3>
	   </div>
	   <div class="panel-body">		
			<div style="width:1024px; margin:0 auto;">
				<div  contenteditable="true" class="sid_and_bid">
					<div style="float:left; padding-left:10px;"><font id="sid" color="red">{{computer.sid}}</font></div>
					<div style="float:right; padding-right:10px;"><font id="bid" color="red">{{computer.bid}}</font></div>
					<div style=" clear:both;"></div>
				</div>

				<div class="xiangmu buzou" >
			    
				    <div style=" text-align:center;  color:#d7d7d7;">
				      <div style="float:left; width:113px;">返回验证码 </div>
				      <div style="float:left; width:180px; margin-left:34px;">提交用户名和密码信息</div>
				      <div style="float:left; width:180px;">返回手机验证码</div>
				      <div style="float:left; width:180px;">提交手机验证码</div>
				      <div style="float:left; width:180px;">返回登录成功</div>
				      <div style="float:left; width:130px; text-align:left; text-indent:60px;">返回流水</div>
				      <div style=" clear:both;"></div>
				    </div>
			    	<div style=" clear:both;"></div>
				</div>
			  	<div class="xiangmu buzou">
			    	<div class="buzou_images">

					      <div  ng-click="showDetails($event,1)" class="buzou_click_div"></div>
					      <div class="bfb1" class="buzou_bfb_div">
					      	<img style=" height:13px; display:block;" src="/static/img/1.png">
					      </div>

					      <div ng-click="showDetails($event,2)" class="buzou_click_div"></div>
					      <div class="bfb2" class="buzou_bfb_div">
					      	<img style=" height:13px; display:block;" src="/static/img/2.png">
					      </div>

					      <div ng-click="showDetails($event,3)" class="buzou_click_div"></div>
					      <div  class="bfb3" class="buzou_bfb_div">
					      	<img style=" height:13px; display:block;" src="/static/img/3.png">
					      </div>

					      <div ng-click="showDetails($event,4)" class="buzou_click_div"></div>
					      <div  class="bfb4" class="buzou_bfb_div">
					      	<img style=" height:13px; display:block;" src="/static/img/4.png">
					      </div>

					      <div ng-click="showDetails($event,5)" class="buzou_click_div"></div>
					      <div  class="bfb5" class="buzou_bfb_div">
					      	<img style=" height:13px; display:block;" src="/static/img/5.png">
					      </div>

					      <div ng-click="showDetails($event,6)" class="buzou_click_div"></div>
					      <div style=" clear:both;"></div>
			    	</div>
			    	<div class="miaoshu" style=" position:relative; ">

			     		<div class="miaoshu1 miaoshu_content"  style="left:-18px;" >	
							进度： <span  class="span1" contenteditable="true" style="">0</span><font>%</font><br>
						</div>

					    <div class="miaoshu2 miaoshu_content"  style="left:105px;" > 
					    	进度： <span  class="span2" contenteditable="true" style="">0</span><font>%</font><br>
						</div>

					    <div class="miaoshu3 miaoshu_content"  style="left:290px;" > 
					    	进度： <span contenteditable="true" style="" class="span3">0</span><font>%</font><br>
					    </div>
			      
					    <div class="miaoshu4 miaoshu_content"  style="left:470px;" > 
					     	进度： <span contenteditable="true" style="" class="span4">0</span><font>%</font><br>
					    </div>

					    <div class="miaoshu5 miaoshu_content" style=" left:650px;" >
					     	 进度： <span contenteditable="true" style="" class="span5">0</span><font>%</font><br>
					    </div>

			     		<div class="miaoshu6 miaoshu_content" style="left:762px;" > 
			     		 	项目总结：
			     		</div>

			      		<div style=" clear:both;"></div>
			  		</div>
			  		<div style=" clear:both;"></div>
			    </div>  
			</div>
		</div>
	</div>
</div>